/* @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;600;700&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* ########################### html element styling ################## */
html{
    font-size: 62.5%;
}

body{
    font-family: 'Barlow', sans-serif;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

h1,h2,h3{
    margin-bottom: 0.5;
    font-weight: 500;
}

/* ################################### utility classes######################### */

.container{
    max-width: 1200px;
    width: 70%;
    margin: 0 auto;
}

.lg-heading{
    font-size: 3.2rem;
    
}

.md-heading{
    font-size: 2.2rem;
}

.text-green{
    color: #168083;
}

.text-white{
    color: white;
}

.text-black{
    color: black;
}

.btn{
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5 0;
}
.btn:hover{
    font-weight: 700;
}
.btn-primary{
    color: white;
    background-color: #168083;
}


/* ##################################### header styling ################################## */
.header{
    
    height: 90vh;
    background-image: url(./img/less\ hand.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
    
}

.navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.navbar img{
    width: 100px;
    height: 100px;
    margin-top: 1rem;
    border-radius: 100px;
}



.nav-items{
    display: flex;
    z-index: 10;
   }
.nav-item:hover{
    text-decoration: underline;
    cursor: pointer;

}
.nav-item{
    margin: 1rem;
    padding: 1rem;
    letter-spacing: 0.1rem;
    z-index: 10;
    
}

/* ############################### main heading styling ########################################## */

.MAIN_HEADING{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    
}
.thought{
    margin-bottom: 1rem;
    word-spacing: 0.5rem;
    font-weight: 700;
}

.MAIN_HEADING p{
    margin-bottom: 1rem;
}

.MAIN_HEADING a{
    border-radius: 3rem;
    padding: 0.9rem;
    font-size:2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;
    margin-top:1rem ;
}

/* ############################################################# about styling ######################## */
#about{
    margin-top: 3rem;
    padding: 3rem;
    
}

.about-container{
    display: flex;
    /* box-shadow: 5px 10px 8px #888888; */
    box-shadow: 3px 3px #168083, -1em 0 .4em #888888;

}

.about-container .about-img{
    width: 50%;
}
.about-content{
    margin: auto;
    width: 50%;
    padding: 2rem 2rem;
}
.about-content p{
    margin-top: 2rem;
    font-size: 1.8rem;
    color: rgb(87, 84, 84);
    text-align:justify;
    

}
.about-img {
    width: 50%;
}
.about-img img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}


/* ################################################# goals styling ################################### */
.about{
    margin-top: 7rem;
    text-align: center;
}
.about h3{
    font-weight: 700;
    background-color: #168083;
    padding:0.7rem;
    
}
   
.about .container{
    display: flex;
    justify-content: space-around;
    
    
}
.picture{
    margin: 3rem;
    width: 33.3%;
    box-shadow: 5px 10px 8px #888888;
    height:300px; 
}

.pic1{
    background-image: url(./img/girl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    font-weight: 700;
    

}
.pic2{
    background-image: url(./img/mom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    font-weight: 700;
    

}
.pic3{
    background-image: url(./img/school.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    font-weight: 700;
    

}
/* ########################### contact styling ############################# */
#contact{
    margin-top: 3rem;
    padding: 5rem 0;
    background-color: rgb(216, 216, 216);
}
.contact-container{
    display: flex;
    background-color: #fff;
   
   
}
.leftside{
    width: 50%;
}

.leftside img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.content{
    width: 50%;
    padding: 3rem;
    margin: auto;
}
.content input ,.content textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(41, 40, 40);
    margin:1rem;
    font-size: large;
    outline: none;
    margin-bottom:1rem ;
    font-weight: 500;
    text-transform: capitalize;
}

.content a{
    background-color: #168083;
    color: white;
    border-radius: 2rem;
    font-size: 2rem;
}

/* #################################### footer styling #################################### */
footer{
    height: 100%;
   background-color: #168083;
}
.social-media{
    
    font-size: x-large;
    text-align: center;
}


/* ##################################### media queries ######################################### */
@media (max-width:1125px){
    .about .container{
        flex-direction: column;
         align-items: center;
    

    }
   .container .picture{
        
        padding: 120px 0;   
        width: 90%;
        text-transform:uppercase;
    
    }
}

@media (max-width:888px){
    .navbar .container {
        display: flex;
        flex-direction: column;
        align-items: center
        
    }
    .navbar img{
       order:2 ;
    }
    
    
    
    .nav-items{
          order: 1;
       }
   
}

@media (max-width:790px){
    .about-container{
       flex-direction: column;
    
    }
    .about-container .about-img{
        width: 100%;
    }
    .about-content{
        margin: auto;
        width: 100%;
        padding: 2rem ;
    }
    .contact-container{
        flex-direction: column;
       
    }
  /* ###################################### contact ########################### */
    .leftside{
        width: 100%;
    }
    
    
    .content{
        width: 100%;
        padding: 3rem;
        margin: auto;
    }

}
@media(max-width:720px)
{
    .nav-items{
        display: none;
    }
}

@media(max-width:538px)
{
    html{
        font-size: 50%;
    }
    .container{
        max-width: 1200px;
        width: 95%;
        margin: 0 auto;
    }
    .MAIN_HEADING h1{
        font-size: 3rem;
        margin:0 0.5rem;
        
    }
    .MAIN_HEADING p{
        font-size:1.7rem;
    }
}

@media(max-width:400px)
{
    .MAIN_HEADING h1{
        font-size:2rem;
        margin:0 0.5rem;
        
    }
}

