p {
    font-size: 13px;
    margin-bottom:8px!important
}
#footer {
 background: rgb(18,19,23);
 padding: 10px;
 color:#838991!important;
 padding:1% 4% 0% 4%;
 margin:1% 0% 0% 0%
}
#top_content {
    justify-content: space-between;
    @media (max-width: 1080px) {
        flex-direction: column;
      }
}
.logos {
    margin-right: 15px;
    height: 50%;
}
.logos2 {
    margin-right: 10px;
    padding-right:10px;
}
.flex_wrapper {
    display: flex
}
.right_content >p {
        margin-bottom: 3px;
    
}
#bottom_content {
    margin-top: 20px;
}
#bottom_content>p {
    margin-bottom: 0px;
    margin-right: 15px;
}
#top_right {
    @media (max-width: 457px) {
        flex-direction: column;
      }
}
.top_left >img {
        @media (max-width: 550px) {
            margin-top: 10px;
        }
    
}
.none{
    @media (max-width: 850px) {
          display:none
        }
}
p:hover{
    color:white !important
}