body{
  background-color: #121317;
}

#navBar{
    background-color: #121317;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    padding: 5px;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-between;
    /* margin-top: 2%; */
    align-items: center;
    font:16px Roboto-Regular,Sans-Serif;
    color:#838991;
    /* position: fixed; */
    
  }
  #fourthBox>div>img{
    width: 30px;
    height: 30px;
    margin-top: 3px;
    padding-left: 2;
  }
  #fourthBox{
    margin :0 0 0 2%;
    /* border: 4px solid blue; */
    width:30%;
    margin-left: 5%;
  }
  #fourthBox>div{
    display: flex;
    /* border: 1px solid green; */
    /* padding: 0 0 0 16%; */
    gap: 7px;
    border-bottom: .1px solid rgba(245, 245, 245, 0.135);
    width:100%;
    /* margin-left:10%; */
    /* border:1px solid red; */
    /* margin-left: 3%; */

  }
  #fourthBox>div>input{
    padding: 10px 0;
    width: 350px;
    background-color: #121317;
    font-size: 16px;
    font:16px Roboto-Regular,Sans-Serif;
   
    border: none;
    outline: none;
  }
  #secondBox{
    /* border: 6px solid red; */
    margin-left: 16px;
    width:15%;
   
  }
  #secondBox>img{
    width: 200px;
    height: 40px;
    
  }
  #firstBox{
    /* border: 5px solid purple; */
    width:3%;
    margin-left: 1%;
  }
  
  #firstBox>div{
   /* border: 1px solid red; */
   width:25px;

  }
  #firstBox>div>hr{
    border: 1px solid white;
    background-color: white;
    width:70%;

  }
#thirdBox{
    /* border: 1px solid red; */
    
    
    width: 38%;
    margin-left: 80px;
    /* padding: 10px; */
    display:inline-block;

  }

  #thirdBox>div{
    /* border:1px solid green; */
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }
  #thirdBox>div>a:hover{
    color:white;
  }
  #thirdBox>div>a{
    text-decoration:none;
    /* color: white; */
    color:#838991;
  }
  
  #navBar>div{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  #fifthBox{
    width : 8%;
    /* border: 1px solid green; */
    margin: 0 1%;
    
  }
 
  #fifthBox>button{
    padding: 10px 10px 10px 10px;
    width: 100%;
    font-weight: 600;
    background-color: #237ce6;
    border: none;
    color: white;
    border-radius: 6px;
    font:16px Roboto-Regular,Sans-Serif;
  }
  .navbar-hamburger{
    /* border: 1px solid red; */
    border: 1px solid red;
      width:200px;
      margin-left: 2%;
      margin-top: 1%;
      background-color:black;
      border: 1px solid black;
      position: absolute;
      z-index: 1;
  


  }
  .hamburger{
    /* border: 1px solid blue; */
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  
    

  }
  #hamburger-box1{
    /* border: 1px solid green; */
    width: 100%;
    background-color: #282d33;
    color:white;
    font:16px Roboto-Regular,Sans-Serif;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    
  }
  #hamburger-box2{
    font:16px Roboto-Regular,Sans-Serif;
    width: 100%;
    /* border: 1px solid green; */
    color:#838991;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
  }
  .navbar-hamburger-bottomBox{
    /* border: 1px solid red; */
    margin-top: 10%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    

  }
  .navbar-hamburger-bottomBox-div1{
    display: flex;
    /* border: 1px solid blue; */
    height:20px;
    color:#838991;
    font:16px Roboto-Regular,Sans-Serif;
    margin-top: 10%;
  }
  .navbar-hamburger-bottomBox-img1{
    height: 20px;
    width:30px;
    padding-left: 4%;

  }
  .navbar-hamburger-bottomBox-div1>p{
    /* border: 1px solid green; */
    margin-top: 1%;
    font-size: 100%;
    margin-left: 6%;
    text-align: center;
  }

  #navBelowDiv{
    /* border: 1px solid green; */

  }
  #signInBox{
   /* border: 1px solid red; */
   background-color: wheat;
   position:absolute;
   z-index: 1;
   top:50px;
   right: 6%;
   

  }
  #searchBox{
     /* border: 1px solid purple; */
     display: flex;
     position:absolute;
   z-index: 1;
   top:50px;
   right: 11%;
   width:29%;
   height: 40%;
   background-color:#000000;
   /* margin-top: -2%; */




  }

  .searchCard{
    /* border: 1px solid blue; */
    /* padding: 2%; */
    height:70px;
    width:100%;
    display: flex;
    /* gap:2%; */
    margin-top: -5%;
    margin-bottom: 10%;
    /* border-bottom: .1px solid rgba(245, 245, 245, 0.135); */

  }
  .searchImgBox{
    width:100px;
    height: 60px;
    /* border: 1px solid brown; */
    padding:2%;
  }
  .searchImgBox>img{
    width:100px;
    height: 60px;

  }
  .titleSubtitleDiv{
    /* border:1px solid green; */
    
    font-size: 14px;
     /* margin-bottom: 4%; */
     width:300px;
     height: 70px;
     padding: 2px;


    /* width:700px; */

  }
  .titleSubtitleDiv>h3{
    font-size: 14px roboto-regular, sans-serif;
    margin-top: 4px;
    color:#ffffff;

  }
  .titleSubtitleDiv>p{
    font-size: 13px roboto-regular, sans-serif;
    margin-top: -1px;
    color:#B0B0B0;
  }
  #signInBox{
    /* border: 1px solid purple; */
    width:7%;
    margin-top: 1%;
  }
  .signOutDiv{
    /* border: 1px solid red; */
    padding: 10px 10px 10px 10px;
    width: 100%;
    font-weight: 600;
    background-color: #237ce6;
    border: none;
    color: white;
    border-radius: 6px;
    
    font:16px Roboto-Regular,Sans-Serif;
    /* margin-top: 4%; */
    text-align: center;

  }

 


  @media all and (min-width:700px) and (max-width:1200px)
  {
    #thirdBox>div{
      display:none;
    }
    #fifthBox{
      width:28%;
    }

  }
  
  @media all and (min-width:200px) and (max-width:699px)
  {
    #thirdBox>div{
      display:none;
    }
    #fifthBox{
      width:50%;
    }
    #fourthBox>div{
      display:none;
    }

  }

  




