body{
    background-color:#161819;
}
#logoPicture{
    /* border: 1px solid black; */
    background-color: #121317;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    #signBox{
        /* border: 1px solid red; */
        width: 300px;
        margin: auto;
        margin-top: 100px;
    }
    #signBox>h3{
        color:rgb(232,230,227);
        font-size:1.375rem;
        text-align: center;
        font-family: roboto,sans-serif;

    }
    #signBox>hr{
        color:#575d68;
        background-color:#575d68;
        border:1px solid #575d68
    }
    #signBox>hr:hover{
        color:rgb(232,230,227);
       
    }
    #signBox>p{
        font-family: Roboto,sans-serif;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 19px;
        line-height: 1.5;
        color:rgb(197,192,184);
       /* border:1px solid red; */
       padding-left: 10px;
    }
    #signBox>input{
        background-color: transparent;
       
    color: rgb(228, 226, 222);
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-bottom-color: rgb(114, 106, 94);
    outline-color: initial;
    box-shadow: none;
    caret-color: rgb(232, 230, 227);
      border: none;
      resize: none;
      outline: none;
       text-align: center;
      width:290px;
      font-size: 16px;

    }
    #signBox>button{
        cursor: default;
    color: #575d68;
    color:rgb(197,192,184);
    background: #333739;
    font-weight: 500;
    border: none;
    width:300px;
    height:40px;
    border-radius: 4%;
    margin-top: 30px;
}
    
    #signBox>h6{
        font-family: "Roboto",sans-serif;
        font-weight: 300;
        font-size: 10px;
        margin-top: 30px;
        width: 100%;
        color: #c7c7c7;
        line-height: 1.5;
        font-size: 13px;
        padding-left: 10px;
    }
    #name{
        margin-bottom: 5px;
    }
    #email{
        margin-bottom: 5px;
    }
    #mobileNumber{
        margin-bottom: 5px;
    }
    #password{
        margin-bottom: 5px;
    }



































